/* Fonts */

@font-face {
  font-family: 'Slant';
  src: url('../fonts/slant-webfont.woff2') format('woff2'), url('../fonts/slant-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Extras */

::selection {
  color: #FFF;
  background-color: rgb(255, 212, 0);
}

.container {
  height: 100vh;
  align-items: center;
  position: relative;
}

.btn:focus,
.btn:active {
  outline: rgb(255, 212, 0) !important;
  box-shadow: none !important;
}

input:focus {
  outline: none !important;
}

body {
  background-color: #F8F8F8;
}

.btn-warning {
  color: #FFF !important;
}

/* Github */

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 0;
}

.options i {
  font-size: 40px;
  color: #707070;
  margin-right: 20px;
}

/* SVG - Cat <3 */

.imgMain {
  width: auto;
  height: 100px;
}

.logo {
  margin-bottom: 10px;
}

/* Title */

.container h3 {
  font-family: 'Slant';
  text-transform: uppercase;
  color: rgb(255, 212, 0);;
  font-size: 60px;
}

.container h3 span {
  color: #707070;
}

/* Formulário */

.form-inlineC {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 600px;
  margin: 0 auto;
  height: 45px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
  border-radius: 20px;
  margin-bottom: 200px;
}

/* Style the input fields */

.form-inlineC input {
  vertical-align: middle;
  background-color: #fff;
  border: none;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  outline: none;
  padding-left: 20px;
  font-size: 16px;
  color: #707070;
}

/* Button - Download */

.btn-find {
  background: rgb(44, 44, 44);
  background: linear-gradient(
    90deg,
    rgb(128, 110, 83) 0%,
    rgb(255, 212, 0) 100%
  );
  border: none !important;
  width: 100px;
  height: 100%;
  color: white;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  right: 0;
  top: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: -3px 0px 12px rgba(0, 0, 0, 16%);
  transition: 0.3s ease;
}

.btn-find:hover {
  color: #FFF;
  transform: scale(1.1);
}

.btn:focus {
  outline: none !important;
}

select {
  padding: 0.2rem;
  margin-top: 1.8rem;
  border: none;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inlineC {
    width: 330px;
  }

  .form-inlineC #send {
    width: 80px;
  }

  .form-inlineC input {
    padding-right: 100px;
  }
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 360px wide */
@media (max-width: 360px) {
  .form-inlineC {
    width: 290px;
  }

  .form-inlineC #send {
    width: 80px;
  }

  .form-inlineC input {
    padding-right: 100px;
  }
}